<h3>ФБ-21 Князян Кирило</h3>
<h1><center><b> Лабораторна робота №4 рівень 1 </b></center></h1>
<h2><center> Структури для роботи з великими обсягами даних в Python </center></h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import timeit
import urllib.request
import zipfile
import numpy as np
from datetime import datetime
print("Setup Complete")

Setup Complete

In [2]:
folder = 'lab4_data'
if not os.path.exists(folder):
    os.makedirs(folder)
def download_and_unzip(url, folder, check_file=None):
    if check_file and os.path.exists(check_file):
        return
    file_name = url.split('/')[-1]
    urllib.request.urlretrieve(url, file_name)
    with zipfile.ZipFile(file_name, 'r') as zip:
        zip.extractall(folder)
    os.remove(file_name)
    return

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip'
file = 'lab4_data/household_power_consumption.txt'
download_and_unzip(url, folder, file)

<h3><center> Pandas dataframe: </center></h3>

In [3]:
start_time = timeit.default_timer()
df = pd.read_csv(file, sep=';', na_values='?', low_memory=False)
df.dropna(inplace=True)
end_time = timeit.default_timer()
total1 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(df.dtypes)

Час виконання: 1.7328797000009217 секунд
Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

In [4]:
start_time = timeit.default_timer()
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
end_time = timeit.default_timer()
total2 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
df.head()

Час виконання: 5.944018799993501 секунд

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [5]:
start_time = timeit.default_timer()
high_power = df[df['Global_active_power'] > 5]
end_time = timeit.default_timer()
total3 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(high_power)}")
high_power.head()

Час виконання: 0.005528399997274391 секунд
Кількість рядків: 17547

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [6]:
start_time = timeit.default_timer()
high_voltage = df[df['Voltage'] > 235]
end_time = timeit.default_timer()
total4 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(high_voltage)}")
high_voltage.head()

Час виконання: 0.07624560000112979 секунд
Кількість рядків: 1952491

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [7]:
start_time = timeit.default_timer()
intensity_range_sub_compare = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20) & (df['Sub_metering_2'] > df['Sub_metering_3'])]
end_time = timeit.default_timer()
total5 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(intensity_range_sub_compare)}")
intensity_range_sub_compare.head()

Час виконання: 0.010871599995880388 секунд
Кількість рядків: 2509

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [8]:
start_time = timeit.default_timer()
random_df = df.sample(n=500000, replace=False)
mean_values = random_df[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
end_time = timeit.default_timer()
total6 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
mean_values.head()

Час виконання: 0.25145139999949606 секунд

Sub_metering_1    1.124516
Sub_metering_2    1.298212
Sub_metering_3    6.446134
dtype: float64

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [9]:
start_time = timeit.default_timer()
evening_usage = df[(df['Time'] > datetime.strptime('18:00:00', '%H:%M:%S').time()) & (df['Global_active_power'] > 6)]
group2_dominate = evening_usage[evening_usage['Sub_metering_2'] > evening_usage[['Sub_metering_1', 'Sub_metering_3']].max(axis=1)]
first_half = group2_dominate.iloc[:len(group2_dominate)//2:3]
second_half = group2_dominate.iloc[len(group2_dominate)//2::4]
end_time = timeit.default_timer()
total = total1 + total2 + total3 + total4 + total5 + total6 + end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Сумарний час виконання: {total:.4f} секунд")
print(f"Кількість рядків: першої половини: {len(first_half)}, другої половини: {len(second_half)}")
pd.concat([first_half, second_half]).head(len(first_half)+len(second_half))

Час виконання: 0.08054519999859622 секунд
Сумарний час виконання: 8.1015 секунд
Кількість рядків: першої половини: 177, другої половини: 133

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066467,2010-11-20,18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20,18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20,18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066485,2010-11-20,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0

<h3><center> Numpy array: </center></h3>

In [10]:
start_time = timeit.default_timer()
data = np.genfromtxt(file, delimiter=';', skip_header=1, dtype=str)
mask = ~(np.any(data == '?', axis=1))
data = data[mask]
float_data = data[:,2:].astype(float)
data = np.hstack([data[:, :2], float_data], dtype=object)
end_time = timeit.default_timer()
total_1 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(data)

Час виконання: 20.632706999997026 секунд
[['16/12/2006' '17:24:00' 4.216 ... 0.0 1.0 17.0]
 ['16/12/2006' '17:25:00' 5.36 ... 0.0 1.0 16.0]
 ['16/12/2006' '17:26:00' 5.374 ... 0.0 2.0 17.0]
 ...
 ['26/11/2010' '21:00:00' 0.938 ... 0.0 0.0 0.0]
 ['26/11/2010' '21:01:00' 0.934 ... 0.0 0.0 0.0]
 ['26/11/2010' '21:02:00' 0.932 ... 0.0 0.0 0.0]]

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [11]:
start_time = timeit.default_timer()
high_powern = data[data[:,2] > 5]
end_time = timeit.default_timer()
total_2 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(high_powern)}")
print(np.concatenate((high_powern[:5], high_powern[-5:])))

Час виконання: 0.06199960000230931 секунд
Кількість рядків: 17547
[['16/12/2006' '17:25:00' 5.36 0.436 233.63 23.0 0.0 1.0 16.0]
 ['16/12/2006' '17:26:00' 5.374 0.498 233.29 23.0 0.0 2.0 17.0]
 ['16/12/2006' '17:27:00' 5.388 0.502 233.74 23.0 0.0 1.0 17.0]
 ['16/12/2006' '17:35:00' 5.412 0.47 232.78 23.2 0.0 1.0 17.0]
 ['16/12/2006' '17:36:00' 5.224 0.478 232.99 22.4 0.0 1.0 16.0]
 ['22/11/2010' '18:40:00' 5.408 0.15 231.5 23.6 48.0 0.0 0.0]
 ['22/11/2010' '18:41:00' 5.528 0.144 232.48 24.6 53.0 0.0 0.0]
 ['24/11/2010' '07:50:00' 5.172 0.05 235.18 22.0 0.0 38.0 17.0]
 ['24/11/2010' '07:51:00' 5.75 0.0 234.4 24.6 0.0 39.0 17.0]
 ['25/11/2010' '07:21:00' 5.074 0.24 238.55 21.4 1.0 2.0 18.0]]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [12]:
start_time = timeit.default_timer()
high_voltagen = data[data[:,4] > 235]
end_time = timeit.default_timer()
total_3 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(high_voltagen)}")
print(np.concatenate((high_voltagen[:5], high_voltagen[-5:])))

Час виконання: 0.15364569999655942 секунд
Кількість рядків: 1952491
[['16/12/2006' '17:28:00' 3.666 0.528 235.68 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:29:00' 3.52 0.522 235.02 15.0 0.0 2.0 17.0]
 ['16/12/2006' '17:30:00' 3.702 0.52 235.09 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:31:00' 3.7 0.52 235.22 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:38:00' 4.054 0.422 235.24 17.6 0.0 1.0 17.0]
 ['26/11/2010' '20:58:00' 0.946 0.0 240.43 4.0 0.0 0.0 0.0]
 ['26/11/2010' '20:59:00' 0.944 0.0 240.0 4.0 0.0 0.0 0.0]
 ['26/11/2010' '21:00:00' 0.938 0.0 239.82 3.8 0.0 0.0 0.0]
 ['26/11/2010' '21:01:00' 0.934 0.0 239.7 3.8 0.0 0.0 0.0]
 ['26/11/2010' '21:02:00' 0.932 0.0 239.55 3.8 0.0 0.0 0.0]]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [13]:
start_time = timeit.default_timer()
intensity_range_sub_comparen = data[(data[:,5] >= float(19)) & (data[:,5] <= float(20)) & (data[:,7] > data[:,8])]
end_time = timeit.default_timer()
total_4 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Кількість рядків: {len(intensity_range_sub_comparen)}")
print(np.concatenate((intensity_range_sub_comparen[:5], intensity_range_sub_comparen[-5:])))

Час виконання: 0.1407831999968039 секунд
Кількість рядків: 2509
[['16/12/2006' '18:09:00' 4.464 0.136 234.66 19.0 0.0 37.0 16.0]
 ['17/12/2006' '01:04:00' 4.582 0.258 238.08 19.6 0.0 13.0 0.0]
 ['17/12/2006' '01:08:00' 4.618 0.104 239.61 19.6 0.0 27.0 0.0]
 ['17/12/2006' '01:19:00' 4.636 0.14 237.37 19.4 0.0 36.0 0.0]
 ['17/12/2006' '01:20:00' 4.634 0.152 237.17 19.4 0.0 35.0 0.0]
 ['24/11/2010' '07:53:00' 4.666 0.0 235.72 19.8 0.0 39.0 17.0]
 ['24/11/2010' '07:54:00' 4.694 0.0 236.78 19.8 0.0 39.0 18.0]
 ['24/11/2010' '07:55:00' 4.602 0.0 237.08 19.4 0.0 40.0 17.0]
 ['24/11/2010' '07:56:00' 4.536 0.0 237.03 19.0 0.0 39.0 17.0]
 ['24/11/2010' '07:57:00' 4.626 0.0 236.78 19.4 0.0 39.0 17.0]]

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [14]:
start_time = timeit.default_timer()
random = np.random.choice(data.shape[0], size=500000, replace=True)
random_data = data[random]
mean = np.mean(random_data[:,6:], axis=0)
end_time = timeit.default_timer()
total_5 = end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Sub_metering_1: {mean[0]}\nSub_metering_2: {mean[1]}\nSub_metering_3: {mean[2]}")

Час виконання: 0.2878220999991754 секунд
Sub_metering_1: 1.133222
Sub_metering_2: 1.296294
Sub_metering_3: 6.446936

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [15]:
start_time = timeit.default_timer()
group2_dominate_evening = data[(data[:,1] > '18.00.00') & (data[:,2] > 6) & (data[:,7] > np.maximum(data[:,6], data[:,8]))]
first_halfn = group2_dominate_evening[:len(group2_dominate_evening)//2:3]
second_halfn = group2_dominate_evening[len(group2_dominate_evening)//2::4]
end_time = timeit.default_timer()
total_n = total_1 + total_2 + total_3 + total_4 + total_5 + end_time - start_time
print(f"Час виконання: {end_time - start_time} секунд")
print(f"Сумарний час виконання: {total_n:.4f} секунд")
print(f"Кількість рядків: першої половини: {len(first_halfn)}, другої половини: {len(second_halfn)}")
print(np.concatenate((first_halfn[:5], second_halfn[-5:])))

Час виконання: 0.2108823000016855 секунд
Сумарний час виконання: 21.4878 секунд
Кількість рядків: першої половини: 177, другої половини: 133
[['16/12/2006' '18:05:00' 6.052 0.192 232.93 26.2 0.0 37.0 17.0]
 ['16/12/2006' '18:08:00' 6.308 0.116 232.25 27.0 0.0 36.0 17.0]
 ['28/12/2006' '20:58:00' 6.386 0.374 236.63 27.0 1.0 36.0 17.0]
 ['28/12/2006' '21:02:00' 8.088 0.262 235.5 34.4 1.0 72.0 17.0]
 ['28/12/2006' '21:05:00' 7.23 0.152 235.22 30.6 1.0 73.0 17.0]
 ['20/11/2010' '18:30:00' 6.62 0.314 229.0 29.2 18.0 34.0 16.0]
 ['20/11/2010' '18:34:00' 6.266 0.36 229.82 27.6 14.0 35.0 16.0]
 ['20/11/2010' '18:38:00' 6.302 0.376 229.65 27.8 15.0 34.0 17.0]
 ['20/11/2010' '18:42:00' 6.238 0.344 229.37 27.6 14.0 35.0 16.0]
 ['20/11/2010' '18:46:00' 6.438 0.308 229.26 28.4 13.0 39.0 16.0]]

In [16]:
print(f"Сумарний час виконання з pandas dataframe: {total:.3f}, з numpay array: {total_n:.3f}")

Сумарний час виконання з pandas dataframe: 8.102, з numpay array: 21.488